.idea/
/projects/slack/slack-api-token.txt
/projects/chatgpt/secret-key.txt
/projects/chatgpt/domain/db/data/*
/projects/slack/raw_data/messages/*
.DS_Store
._.DS_Store
/.DS_Store
/._.DS_Store
/projects/confluence/.env
