# https://pip.pypa.io/en/stable/reference/requirements-file-format/
atlassian-python-api
beautifulsoup4
sqlalchemy
selenium
requests
slack_sdk
chromadb
# psycopg2
llama-cpp-python
# openai==0.27.10
openai==1.26.0
python-dotenv
plaid-python
asyncio
nest-asyncio
godaddypy
